html{
    font-size: 2.5vmin;
    font-family: 'Barriecito', cursive;
}
body{
    /* background-color: #FFECCE; */
    background-image: url("../images/hubble_DeepUV.jpg");
    background-size: contain;
    color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
}
main {
    width: 75%;
    height: 90%;
    display: inline-block;
    vertical-align: top;
}
header{
    font-size: 4rem;
    text-align: center;
    padding: auto;
}

.game-area {
    height: 100%;
    width: 100%;
    position: relative; 
}
.card-container {
    height: 33.333%;
    width: 16.6%;
    float: left;
    position: relative;
    transition: all .6s ease;

}
.card-container:hover{
    
    transform: scale(1.2);
    -webkit-transform: scale(1.2) ;
    -ms-transform: scale(1.2); 
    /* background: lightseagreen; */
}
.lfz-card, .match-card {
    left: 2.5%;
    top: 2.5%;
    height: 95%;
    width: 95%;
    position: absolute;
}
.lfz-card {
    /* background-color: magenta; */
    z-index: 5;
    background-size: cover;
    background-image: url("../images/lfz-card.jpg");
    background-position: center;
}

.match-card {
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-image: url("../images/scott.jpg"); */
    /* background-position: center; */
}

.stats{
    font-size: 2rem;
    /* border: 1px solid black; */
    padding: 2px;

    /* height: 100%; */
    width: 22.5%;
    /* display: inline-block; */
    float: left;
    position: relative;
    text-align: center;
}
.aside-divs{
    /* background-color: lightblue; */
    /* border: 1px solid black; */
    margin-top: 5%;
    /* margin-left: 10px; */
    text-align: center;
    height: 100;
    width: 100%;
    position: relative;
}

/* catz */
.spacecat1, .spacecat2, .spacecat3, .spacecat4, .spacecat5, .spacecat6, .spacecat7, .spacecat8, .spacecat9 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.spacecat1{
    background-image: url('../images/spacecat1.jpg');
    /* background-position: right; */
}
.spacecat2{
    background-image: url('../images/spacecat2.jpg');
    /* background-position: left; */
}
.spacecat3{
    background-image: url('../images/spacecat3.jpg');
    /* background-size: 240%;
    background-position: bottom left; */
}
.spacecat4{
    background-image: url('../images/spacecat4.png');
    /* background-position: right; */
}
.spacecat5{
    background-image: url('../images/spacecat8.jpg')
}
.spacecat6{
    background-image: url('../images/spacecat9.jpg');
    /* background-size: cover;
    background-position: center; */
}
.spacecat7{
    background-image: url('../images/spacecat10.jpg');
    /* background-size: contain; */
}.spacecat8{
    background-image: url('../images/spacecat11.jpg')
}.spacecat9{
    background-image: url('../images/spacecat12.jpg');
    /* background-size: contain; */
}

.win-modal{
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    overflow: auto;
    background-image: url('../images/hubble_Wreath.jpg');
    background-position: center;
}
.modal-shadow{
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal-content{
    text-align: center;
}
#reset-Btn{
    top: 30vh;
    position: relative;
}

.hidden {
    display: none;
}
.wrong{
    animation-name: wiggle;
    animation-duration: .15s;
    animation-iteration-count: 6;
}

@keyframes wiggle{
    from{
        transform: rotateZ(-10deg);
    }
    to{
        transform: rotateZ(5deg);
    }
}