body{
    /* background-color: #FFECCE; */
    background-image: url("../images/hubble_DeepUV.jpg");
    background-size: contain;
    color: white;

    height: 100vh;
    width: 100vw;
}
main {
    width: 75%;
    height: 75%;
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;

}
header{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: auto;
    /* border: 1px solid black; */
    
}
.game-area {
    height: 100%;
    width: 100%;
    
    position: relative; 
}
.card-container {
    /* display: inline-block; */
    height: 33.333%;
    width: 16.666%;
    float: left;
    position: relative;
}
.lfz-card, .match-card {
    left: 2.5%;
    top: 2.5%;
    height: 95%;
    width: 95%;
    position: absolute;
}
.lfz-card {
    /* background-color: magenta; */
    z-index: 100;
    background-size: cover;
    background-image: url("../images/lfz-card.jpg");
    background-position: center;
}
.match-card {
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-image: url("../images/scott.jpg"); */
    background-position: center;
}

/* .bill {
    background-image: url(../images/bill.jpg);
}
.scott{
    background-image: url(../images/scott.jpg);
} */


.stats{
    font-size: 2rem;
    /* border: 1px solid black; */
    padding: 2px;

    height: 100%;
    width: 22.5%;
    /* display: inline-block; */
    float: left;
    position: relative;
    text-align: center;
}
.aside-divs{
    /* background-color: lightblue; */
    /* border: 1px solid black; */
    margin-top: 5%;
    /* margin-left: 10px; */
    text-align: center;
    height: 100;
    width: 100%;
    position: relative;
}

/* catz */
.spacecat1{
    background-image: url('../images/spacecat1.jpg');
    
}
.spacecat2{
    background-image: url('../images/spacecat2.jpg');
}
.spacecat3{
    background-image: url('../images/spacecat3.jpg');
}
.spacecat4{
    background-image: url('../images/spacecat4.png');
}
.spacecat5{
    background-image: url('../images/spacecat8.jpg')
}
.spacecat6{
    background-image: url('../images/spacecat9.jpg')
}
.spacecat7{
    background-image: url('../images/spacecat10.jpg')
}.spacecat8{
    background-image: url('../images/spacecat11.jpg')
}.spacecat9{
    background-image: url('../images/spacecat12.jpg')
}


.hidden {
    display: none;
}